<div class="list_of_product">
  <% if @products.any? %>
    <%= render @products %>
    <div class="col-md-12 pagination-grid text-center">
      <%= will_paginate @products %>
    </div>
  <% else %>
    <h3><%= t "product.empty" %></h3>
  <% end %>
</div>
