@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  color: red;
  ul {
      color: red;
      margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.col-md-3.products-left {
  margin-top: 7%;
}

.menu_drop a:hover{
  background-color: #ffb100;
}
#logo {
	float: left;
  margin-right: 25%;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 15px;
	font-weight: bold;
	}
	#logo:hover {
	color: #fff;
	text-decoration: none;
}

a.parent_cate {
  color: white;
  text-decoration: none;
}

.col-md-3.product-men {
  margin-bottom: 3%;
}

.col-md-12.pagination-grid.text-center {
  margin-top: -70px;
  margin-bottom: 25px;
}

.dropdown-menu.aria-labelledby\=.show  {
  margin-top: 8px;
  margin-left: 4px;
}

.form_search{
  margin-right: 10%;
}

.page_head {
  border-bottom: 1px solid #eee;
  margin-bottom: -12px;
}
.header ul li {
  display: inline-block;
  width: 33%;
  text-align: center;
  color:#848484;
  font-size:16px;
  padding: 12px 0;
}
.header ul li:nth-child(2) {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.header ul li a {
  color:#848484;
  text-decoration:none;
}
.header ul li span {
  margin-right: 12px;
  top: 2px;
  color: #fda30e;
}
.header ul li:nth-child(3) {
  text-align: right;
}
.header ul li:nth-child(1) {
  text-align: left;
}
.header-right {
  text-align: right;
}
.header-left{
  text-align: left;
}

#ex4 .p1[data-count]:after{
  position:absolute;
  right:10%;
  top:8%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  //font-weight:bold;
}

.cartt{
  color: white;
}

.my_cate{
	background-color: #ffb100;
  width: 189px;
}

.form_login {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button_login {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.containerr {
  padding: 16px;
  width: 673px
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.animate{
  width: 50%;
  margin-top: 5px;
}


/*-- footer --*/
.footer{
  border-top:1px solid #f1f1f1;
}

.footer-right{
  margin-left: 13%;
}

.ul_footer{
  margin-left: -40px;
}
.footer-left p{
  color: #848484;
  line-height: 2.2em;
  font-size: 14px;
  margin-top: 22px;
}
.newsright input[type="text"] {
  outline: none;
  width: 100%;
  padding: 14px 10px;
  color: #848484;
  font-size: 16px;
  border: 1px solid #dadada;
  width: 71%;
}
.newsright input[type="submit"]{
  color: #fff;
  background: #fda30e;
  border: none;
  padding: 13px 20px 14px;
  font-size: 18px;
  outline: none;
  text-transform: uppercase;
  margin: 0 0 0 -4px;
}
.newsright input[type="submit"]:hover{
  background: #000;
}
.newsleft h3 {
  font-size: 24px;
  margin-top: 15px;
  color: #000;
}
.sign-grds {
  margin-top: 64px;
}
.sign-gd h4,.sign-gd-two h4 {
  color: #FDA30E;
  font-size: 22px;
  margin-bottom: 25px;
}
.sign-gd ul li,.sign-gd-two ul li {
  color: #848484;
  line-height: 2em;
  font-size: 14px;
  list-style-type:none;
}
.sign-gd ul li a,.sign-gd-two ul li a{
  color: #848484;
  text-decoration:none;
}
.sign-gd ul li a:hover,.sign-gd-two ul li a:hover{
  color: #FDA30E;
}
.sign-gd-two ul li i{
  color: #999;
  border: 1px solid #999;
  padding:.5em;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  margin-right: 1em;
}
.sign-gd-two ul li{
  margin-bottom:10px;
}

.flickr-post ul li{
  display:inline-block;
  margin:5px 5px;
}
.flickr-post ul li {
  display: inline-block;
  margin: 1% 1%;
  width: 28%;
}
p.copy-right {
  color: #848484;
  text-align: center;
  margin-top: 62px;
  font-size: 14px;
}
p.copy-right a{
  color: #848484;
  text-decoration:none;
}
p.copy-right a:hover{
  color: #FDA30E;
}
/*-- //footer --*/

/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #FDA30E;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #FDA30E solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before,.hvr-outline-out:focus:before,.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
.wed-brand p i {
  text-decoration: line-through;
}
.wed-brand p {
  font-size: 21px;
  color: #000;
  text-align: center;
}
.wed-brand p a{
  color: #fff;
  padding: 9px 0px;
  display: block;
  text-transform: uppercase;
  margin: 25px auto 0;
  font-size: 16px;
  width: 50%;
	text-decoration:none;
}
.wed-brandtwo h4{
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.wed-brandtwo {
  position: absolute;
  top: 36%;
  left: 20%;
}
.wed-brandtwo p {
  font-size: 45px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.new-gd-middle img {
  width: 100%;
}
.new-levis {
  border: 1px solid #D2D2D2;
  background: #fff;
  padding: 45px 28px;
}
.mid-text {
  float: left;
  width: 48%;
  margin: 0 5%;
}
.mid-text h4 {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.5em;
	margin-bottom:15px;
}
.mid-text h4 span{
	display:block;
}
.mid-img {
  float: left;
  width: 35%;
  margin: 13% 3% 0;
}
.mid-text a {
  font-size: 16px;
  color: #fff;
  padding: 8px 18px;
}
.new-levis:nth-child(2) {
  margin-top: 35px;
}
/*-- //new_arrivals --*/


/*-- easy responsive tabs style--*/
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
  text-align:center;
  list-style: none;
  margin: 0 0 3em 0;
  padding: 0;
}
.resp-tab-item{
  margin: 0 25px;
  padding: 0 35px 25px 35px;
  text-decoration: none;
  color: #ccc;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  display: inline-block;
  text-align: center;
  list-style: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: Capitalize;
  font-weight: 600;
}
.resp-tab-active,.resp-tab-item:hover{
	color: #333;
  border-bottom:2px solid #FDA30E;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;

}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
  display: block;
}
.product-men img {
  width: 100%;
}
.product-easy {
  padding: 90px 0;
}
/*-- effect --*/
.men-pro-item {
  position: relative;
  box-shadow: 0px 0px 15px 0px #D6D6D6;
  padding-bottom: 20px;
}
.men-thumb-item {
  position: relative;
}
.item-info-product {
  text-align: center;
  margin: 20px 0 0;
}
.men-thumb-item::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: 0;
  z-index: 9;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
}
.men-thumb-item .pro-image-front {
  opacity: 1;
  visibility: visible;
}
.men-thumb-item img {
  transition: all 0.5s ease-out 0s;
}
.pro-image-back {
  transform: rotateY(180deg);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.men-cart-pro {
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.5s ease-out 0s;
  visibility: hidden;
  z-index: 10;
}
.product-new-top {
  background: #868686 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  right: 0;
  padding: 0 10px 1px;
  position: absolute;
  text-transform: lowercase;
  top: 0;
  z-index: 10;
}
.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro ul {
  left: 0;
  margin: -60px 0 0;
  padding: 0;
  position: absolute;
  top: 45%;
  width: 100%;
  transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro .link-product-add-cart {
  width: 100%;
  bottom: -40px;
  left: 0;
  position: absolute;
  transition: all 0.5s ease-out 0s;
}
.link-product-add-cart {
  background:#000 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro > ul > li {
  display: inline-block;
}
.inner-men-cart-pro ul li a {
  color: #fff;
  transition: all 0.5s ease-out 0s;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
}
.men-thumb-item:hover {
  cursor: pointer;
}
.men-thumb-item:hover::before {
  opacity: 1;
  visibility: visible;
}
.men-thumb-item:hover .pro-image-front {
  transform: rotateY(180deg);
  opacity: 0;
  visibility: hidden;
}
.men-thumb-item:hover .pro-image-back {
  transform: rotateY(0deg);
  opacity: 1;
  visibility: visible;
  background: #f7f7f7;
}
.men-thumb-item img {
  transition: all 0.5s ease-out 0s;
  padding: 52px 50px 20px;
}
.men-thumb-item:hover .men-cart-pro {
  opacity: 1;
  visibility: visible;
}
.men-thumb-item:hover .inner-men-cart-pro ul {
  margin: 20px 0 0;
}
.inner-men-cart-pro ul li a:hover {
  background: #ffc229 none repeat scroll 0 0;
}
.inner-men-cart-pro .link-product-add-cart {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.5s ease-out 0s;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
  top: 83.5%;
}
.link-product-add-cart:hover {
  background: #FDA30E none repeat scroll 0 0;
  color: #fff;
}
/*-- //effect --*/
.item-info-product h4 a {
  font-size: 18px;
  color: #FDA30E;
	text-decoration:none;
}
.info-product-price {
    margin: 15px 0;
}
.info-product-price span {
    color: #000;
    font-size: 23px;
}
.info-product-price del {
    color: #A7A7A7;
    margin-left: 10px;
}
.yes-marg{
	margin-top:30px;
}
a.single-item{
	color:#fff;
  font-size: 16px;
  padding: 3px 14px;
	text-decoration:none;
}

/*-- typrography --*/
/*--trypography--*/
.mb-60 {
    padding-left: 0;
}
.mb-60 h4 {
    margin: 36px 0 38px;
    font-size: 24px;
}
.tab-content {
	padding: 15px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-top: none;
}
.nav-tabs {
	border: none;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	background: #f8f8f8;
	margin-right: 3px;
	border: none;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #555;
	padding: 12px 20px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.nav-tabs > li > a .fa {
	margin-right: 10px;
}
.nav-tabs > li.active > a{
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #FDA30E;
	border: none;
	border-radius: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #FDA30E;
}
.nav-tabs > li > a i {
	font-size: 32px;
	margin-right: 20px;
	vertical-align: middle;
}
.tab-content p {
  line-height: 2.2em;
  font-size: 14px;
}
.grid_4{
	background:#fff;
	padding:0em 0em 0em 0em;
}
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.8em;
  color: #999;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#FDA30E !important;
  border-color:#FDA30E !important;
}
.grid_3 p,.page-header p {
  color: #888;
  font-size: 14px;
  line-height:2em;
  margin: 1em 0 2em;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li{
	font-size:0.85em;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
  line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
.bars {
  margin-bottom: 0.8em;
  color: #FDA30E;
}
li.list-group-item1 {
  line-height: 2.5em;
}
ol {
  margin-bottom: 44px;
}
.list-group {
  margin-bottom: 48px;
}
.input-group {
  margin-bottom: 20px;
}
.breadcrumb {
  background-color: #2D2D2D;
}
.breadcrumb li a {
  font-size: 16px;
  color: #FDA30E;
}
.breadcrumb > .active {
  color: #fff;
}
.breadcrumb li a span {
  margin-right: 6px;
}
/*-- //typrography --*/
/*-- electronics --*/
.electronics{
	padding:90px 0;
}
.electro-img-btm-left{
  float:left;
  width:48%;
}
.electro-img-btm-right{
  float:right;
  width:48%;
}
.electro-text h4 {
  font-size: 24px !important;
}
.electro-text a {
  padding: 5px 11px !important;
  font-size: 14px !important;
}
.electro-img-left{
	margin-bottom:30px;
}
.ele-bottom-grid {
  margin-top: 90px;
}
.ele-bottom-grid h3 span {
  color: #FDA30E;
}
.ele-bottom-grid h3 {
  color: #000;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.ele-bottom-grid p {
  color: #848484;
  font-size: 16px;
  text-align: center;
	margin-bottom:60px;
}

/* webkit adjacent element selector bugfix */

/*-- //treeview --*/
.css-treeview {
  border: 1px solid #d2d2d2;
}
.css-treeview h4 {
  color: #FDA30E;
  text-align: center;
  background: #f7f7f7;
  padding: 17px 0;
  font-size: 26px;
  font-weight: 100;
  border-bottom: 1px solid #d2d2d2;
}
.tree-list-pad{
	padding:30px 30px;
}
.community-poll {
  border: 1px solid #d2d2d2;
  margin-top: 30px;
}
.radio {
	position: relative;
	display:inline-block;
	margin-left:15px;
}
.radio:first-child {
	margin-left: 0;
	margin: 0;
}
.radio {
	padding-left:22px;
	line-height: 28px;
	color: #404040;
	cursor: pointer;
}
.radio  input[type="radio"]{
	position: absolute;
	left: -9999px;
}
.radio-btns label {
  font-size: 14px;
  color: #000;
  padding: 0px 0 0 10px;
  font-weight:600;
  }
.radio i {
	position: absolute;
	top:5px;
	left: 0;
	display: block;
  width: 18px;
  height: 18px;
	outline: none;
  border:3px solid #FDA30E;
  background: #fff;
	cursor:pointer;
}
.radio i {
	border-radius: 50%;
}
.radio input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
 .radio input + i:after {
	content: '';
	top: 6px;
	left: 7px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.radio input:checked + i:after{
	opacity: 1;
}

label.checkbox {
	width: 28%;
	floaT: left;
}

/*-- //treeview --*/
.men-wear-left{
	padding-left:0;
}
.men-wear-bottom {
  margin: 50px 0;
}
.men-wear-right h4 {
  color: #FDA30E;
  font-size: 27px;
  margin: 0px 0 24px;
}
.men-wear-right p {
  font-size: 15px;
  color: #999;
  line-height: 2.2em;
}
.products-right {
  padding-right: 0;
}
.no-pad-men {
  padding: 0 25px 0 0 !important;
}
.products-right h5 {
  color: #FDA30E;
  font-size: 25px;
  text-transform: uppercase;
}
.sort-grid {
  padding: 11px 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  margin: 35px 0;
}
.sorting {
  float: left;
  width: 46%;
}
.sorting h6 {
  float: left;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin:7px 40px 0 0;
}
.sorting select {
  float: left;
  padding: 6px 13px;
  font-size: 14px;
  color: #999;
}
.single-pro {
  margin-top: 30px;
}
.pagination {
  margin: 34px 15px 0 0;
}

/*-- single-page --*/
.single {
  padding: 90px 0;
}
.single-right-left h3 {
  text-transform: capitalize;
  font-size: 24px;
  color: #FDA30E;
  margin: 0;
}
.single-right-left p{
  color: #000;
  font-size: 23px;
  margin:.5em 0 1em;
}
.single-right-left del {
  color: #A7A7A7;
  margin-left: 10px;
}
.description{
margin:1.5em 0;
}
.description h5 {
  color: #989898;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin-bottom:12px;
}
.description p{
  font-size:14px;
  color:#999;
  line-height:1.8em;
  margin:0.5em 0 0;
}
.occasional{
  margin:2em 0;
}
.color-quality-right h5,.occasional h5 {
  color: #000;
  font-size: 18px;
  margin: 0 0 12px;
}
.color-quality-right select {
  padding: 5px 21px;
}
.colr {
  width: 33.333%;
  float: left;
}
.description input[type="text"]{
  padding:8px 8px;
  color:#ccc;
  font-size:13px;
  width:45%;
  outline:none;
}
.description input[type="submit"]{
  color: #fff;
  font-size: 16px;
  background: #FDA30E;
  border: none;
  outline: none;
  padding: 7px 17px 9px;
}
.description input[type="submit"]:hover{
  background:#000;
}
.occasion-cart a{
  padding:8px 15px;
  text-decoration:none;
  color:#fff;
  font-size:16px;
}
.bootstrap-tab {
  margin: 5em 0 0;
}
.bootstrap-tab-text p{
  font-size:14px;
  color:#999;
  line-height:1.8em;
}
.bootstrap-tab-text h5,.add-review h4{
  text-transform:uppercase;
  font-size:1.2em;
  color:#212121;
  margin:2em 0;
}
.bootstrap-tab-text p span{
  display:block;
  margin:2em 0 0;
}
.bootstrap-tab ul li a {
  font-size: 1em;
  color: #999;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #FDA30E;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color:#FFFFFF !important;
}
.bootstrap-tab-text-grid-left{
  float:left;
  width:14%;
}
.bootstrap-tab-text-grid-right{
  float:right;
  width:83%;
}
.bootstrap-tab-text-grid-right ul li{
  display:inline-block;
}
.bootstrap-tab-text-grid-right ul li:nth-child(2){
  float:right;
}
.bootstrap-tab-text-grid-right ul li a{
  font-size:1em;
  color:#FDA30E;
  text-transform:uppercase;
  text-decoration:none;
}
.bootstrap-tab-text-grid-right ul li a:hover{
  color: #212121;
}
.bootstrap-tab-text-grid-right ul li a span{
  left:-1em;
}
.bootstrap-tab-text-grids{
  margin:3em 0 0 0em;
}
.bootstrap-tab-text-grid-right p{
  margin:2em 0 0;
  color:#999;
  font-size:15px;
  line-height:2em;
}
.bootstrap-tab-text-grid-left img {
  border: 2px solid #000;
  border-left: 2px solid #FDA30E;
  border-bottom: 2px solid #FDA30E;
  border-radius: 100%;
  padding: 8px 8px;
  width: 86%;
}
.bootstrap-tab-text-grid:nth-child(2){
  margin:3em 0 0;
}
.add-review form{
  margin:2em 0 0;
}
.add-review input[type="text"],.add-review input[type="email"],.add-review textarea{
  outline: none;
  padding: 10px;
  border: 1px solid #D2D2D2;
  width: 49.35%;
  font-size: 15px;
  color: #FDA30E;
}
.add-review input[type="email"]{
  margin-left:1%;
}
.add-review textarea{
  width:100% !important;
  min-height:150px;
  margin:1em 0;
  resize:none;
}
.add-review input[type="text"]:nth-child(3){
  width:100%;
  margin:1em 0;
}
.add-review input[type="submit"]{
  outline:none;
  padding:10px 0;
  background:#FDA30E;
  border:none;
  width:30%;
  font-size:1em;
  color:#fff;
}
.add-review input[type="submit"]:hover{
  background: #000;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #FDA30E;
  color:#fff;
}
/*-- Ratings --*/
.rating1 {
  direction:ltr;
}
.starRating:not(old) {
  display: inline-block;
  height: 18px;
  width:100px;
  overflow: hidden;
}

.starRating:not(old) > input{
  margin-right :-26%;
  opacity      : 0;
}

.starRating:not(old) > label {
  float: right;
  background: url(../images/1.png);
  background-size: contain;
  margin-right: 2px;
}

.starRating:not(old) > label:before{
content         : '';
display         : block;
width           : 18px;
height          : 18px;
background      : url(../images/2.png);
background-size : contain;
opacity         : 0;
transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
opacity : 1;
}
/*-- //Ratings --*/
/*-- //single-page --*/
/*
** Style Simple Ecommerce Theme for Bootstrap 4
** Created by T-PHP https://t-php.fr/43-theme-ecommerce-bootstrap-4.html
*/
.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
.category_block li:hover {
  background-color: #007bff;
}
.category_block li:hover a {
  color: #ffffff;
}
.category_block li a {
  color: #343a40;
}
.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}
.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}
.product_rassurance .list-inline li:hover {
  color: #343a40;
}
.reviews_product .fa-star {
  color: gold;
}
.page_cart{
  font-size: 20px;
}
.quantity_cart{
  width: 10%;
}

/* cart */
.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card .card-body {
    padding: 30px;
    background-color: transparent
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #4466f2 !important;
    border-color: #4466f2 !important
}
/* cart */

.user_checkout{
  margin-bottom: 20px;
}
