<div class="btn-group dropright mb-2">
  <%= link_to category.name, category_products_path(category), class: "btn btn-secondary dropdown-toggle my_cate", role: "button"%>
  <div class="dropdown-menu menu_drop">
    <% category.childrens.each do |children| %>
      <%= link_to children.name, category_products_path(children), class: "dropdown-item"%>
    <% end %>
  </div>
</div>
