<%= raw t("email_pass.header", email: @resource.email) %>
<p><%= link_to t("email_pass.change_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>
<%= raw t("email_pass.body") %>
